html {
  font-size: 16px;
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(11, 6, 15);
  color: rgb(223, 221, 225);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border: 1px solid white;
}
@media only screen and (max-width: 600px) {
  .header {
    justify-content: center;
  }
}

.header__logo {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  border: 1px solid white;
}

.header__logo h2 {
  margin: 0;
}

.header__nav {
  border: 1px solid white;
}
@media only screen and (max-width: 600px) {
  .header__nav {
    display: none;
  }
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav li {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(129, 125, 137);
}

.header__nav li:hover {
  color: rgb(223, 221, 225);
}

.intro {
  padding: 0 2rem;
  border: 1px solid white;
}
@media only screen and (min-width: 1000px) {
  .intro {
    padding: 0 6rem;
  }
}

.intro__content {
  display: flex;
  flex-direction: column;
}

.intro__content h1 {
  font-size: 3rem;
}

.intro__content p {
  margin: 0;
}
@media only screen and (min-width: 1000px) {
  .intro__content p {
    width: 50%;
  }
}

.about {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid white;
}
@media only screen and (min-width: 1000px) {
  .about {
    justify-content: space-between;
    gap: 4rem;
  }
}

.about__title {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  border: 1px solid white;
}

.about__content {
  display: flex;
  flex-direction: column-reverse;
  gap: 1.5rem;
  border: 1px solid white;
}

.about__img__section {
  display: flex;
  border: 1px solid white;
}
@media only screen and (min-width: 601px) and (max-width: 999px) {
  .about__img__section {
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 600px) {
  .about__img__section {
    justify-content: center;
    align-items: center;
  }
}

.about__img {
  border: 1px solid white;
  width: 400px;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.about__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skills {
  display: flex;
  border: 1px solid white;
}

.projects {
  display: flex;
  border: 1px solid white;
}

.projects__grid {
  display: flex;
  border: 1px solid white;
}

.project__image {
  height: 200px;
  width: 300px;
}

.contact {
  display: flex;
  border: 1px solid white;
}

.footer {
  display: flex;
  border: 1px solid white;
}
