html {
  font-size: 16px;
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  background-color: hsl(262.1, 50%, 5%);
  color: hsl(0, 0%, 100%);
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: hsl(262.1, 50%, 0%);
  border-bottom: 2px solid hsl(262.1, 30%, 18%);
}
@media only screen and (max-width: 600px) {
  .header {
    justify-content: center;
  }
}

.header__logo {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  border: 1px solid white;
}

.header__logo h2 {
  margin: 0;
}

.header__nav {
  border: 1px solid white;
}
@media only screen and (max-width: 600px) {
  .header__nav {
    display: none;
  }
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__nav li {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  color: hsl(262.1, 5%, 60%);
}

.header__nav li:hover {
  color: hsl(0, 0%, 100%);
}

.intro {
  padding: 0 2rem;
}
@media only screen and (min-width: 1000px) {
  .intro {
    padding: 0 6rem;
  }
}

.intro__content {
  display: flex;
  flex-direction: column;
}

.intro__content h1 {
  font-size: 3rem;
  color: hsl(262.1, 88.3%, 62.5%);
}

.intro__content p {
  margin: 0;
}
@media only screen and (min-width: 1000px) {
  .intro__content p {
    width: 50%;
  }
}

.about {
  padding: 2rem;
  border: 1px solid white;
}
@media only screen and (min-width: 601px) and (max-width: 999px) {
  .about {
    padding: 2rem 6rem;
  }
}
@media only screen and (min-width: 1000px) {
  .about {
    padding: 2rem 6rem;
  }
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0rem 0rem;
  border: 1px solid white;
}
@media only screen and (min-width: 1000px) {
  .about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title image" "text image";
    gap: 2rem;
    align-items: start;
  }
}

.about__title {
  border: 1px solid white;
}
@media only screen and (min-width: 1000px) {
  .about__title {
    grid-area: title;
  }
}

.about__title h3 {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  margin: 0;
  border: 1px solid white;
}

.about__img__section {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
@media only screen and (min-width: 1000px) {
  .about__img__section {
    grid-area: image;
  }
}

.about__img {
  border: 1px solid white;
  width: 400px;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
@media only screen and (max-width: 600px) {
  .about__img {
    width: 300px;
    height: 300px;
  }
}

.about__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid white;
}
@media only screen and (min-width: 1000px) {
  .about__text {
    grid-area: text;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 1px solid white;
}

.skills__title {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  border: 1px solid white;
  text-align: center;
}

.skills__title h3 {
  margin: 0;
  border: 1px solid white;
}

.skills__text {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 1rem 0 2rem 0;
  border: 1px solid white;
}

.skills__icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid white;
}
@media only screen and (min-width: 1000px) {
  .skills__icons {
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}

.skills__icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 6rem;
  color: hsl(0, 0%, 100%);
  flex: 0 0 calc(33.333% - 1rem);
  text-align: center;
  border: 1px solid white;
  padding: 1rem 0;
}
@media only screen and (min-width: 1000px) {
  .skills__icons div {
    flex: auto;
  }
}

.skills_icons i,
img {
  width: 3rem;
  height: 3rem;
  color: hsl(0, 0%, 100%);
  border: 1px solid white;
  display: block;
  fill: ffffff;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.projects h3 {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  border: 1px solid green;
}

.projects__grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  border: 1px solid blue;
}
@media only screen and (min-width: 1000px) {
  .projects__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.projects__project {
  width: 100%;
  border: 1px solid orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.project__image {
  height: 225px;
  width: 400px;
  object-fit: cover;
  border: 1px solid yellow;
  border-radius: 15px;
}
@media only screen and (max-width: 600px) {
  .project__image {
    width: 320px;
    height: 180px;
  }
}

.project__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.25rem;
  border: 1px solid pink;
}

.project__content__links i {
  padding: 0 0.5rem;
}

.project__tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  color: hsl(262.1, 5%, 60%);
  border: 1px solid purple;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border: 1px solid white;
}

.contact h3 {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
}

.contact button {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  border-radius: 50px;
  border: none;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  background-color: hsl(262.1, 88.3%, 62.5%);
  color: hsl(0, 0%, 100%);
}

.contact button:hover {
  background-color: hsl(262.1, 88.3%, 59%);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  height: 48px;
  border: 1px solid white;
}

.footer span {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  color: hsl(0, 0%, 100%);
}
