body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.container--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid black;
}

.container--header--logo {
  display: flex;
  border: 1px solid black;
}

.container--header--nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid black;
}

.container--about__img {
  height: 300px;
  width: 300px;
}

.project__image {
  height: 200px;
  width: 300px;
}
