@mixin text-white {
    color: hsl(0, 0%, 100%);
}

@mixin text-grey {
    color: hsl(262.1 5% 60%);
}

@mixin bg-main-dark-purple {
    background-color: hsl(262.1 50% 5%);
}

@mixin bg-deep-black {
    background-color: hsl(262.1 50% 0%);
}

@mixin primary-purple {
    color: hsl(262.1 88.3% 62.5%);
}

@mixin bg-primary-purple {
    background-color: hsl(262.1 88.3% 62.5%);
}

@mixin bg-primary-purple-hover {
    background-color: hsl(262.1 88.3% 60%);
}

@mixin border-bottom-accent {
    border-bottom: 2px solid hsl(262.1 30% 18%);
}

@mixin border-accent {
    border: 2px solid hsl(262.1 30% 18%);
}

@mixin border-top-accent {
    border-top: 2px solid hsl(262.1 30% 18%);
}
