@mixin poppins-regular {
    font-family: 'Poppins', serif;
    font-weight: 400;
    font-style: normal;
}

@mixin poppins-medium {
    font-family: 'Poppins', serif;
    font-weight: 500;
    font-style: normal;
}

@mixin poppins-semibold {
    font-family: 'Poppins', serif;
    font-weight: 600;
    font-style: normal;
}

@mixin poppins-bold {
    font-family: 'Poppins', serif;
    font-weight: 700;
    font-style: normal;
}

@mixin poppins-regular-italic {
    font-family: 'Poppins', serif;
    font-weight: 400;
    font-style: italic;
}

@mixin poppins-medium-italic {
    font-family: 'Poppins', serif;
    font-weight: 500;
    font-style: italic;
}

@mixin poppins-semibold-italic {
    font-family: 'Poppins', serif;
    font-weight: 600;
    font-style: italic;
}

@mixin poppins-bold-italic {
    font-family: 'Poppins', serif;
    font-weight: 700;
    font-style: italic;
}
