@use './modules/typography';
@use './modules/palette';
@use './modules/devices';

html {
    font-size: 16px;
}

body {
    @include typography.poppins-regular;
    @include palette.bg-dark-purple;
    @include palette.text-white;
}

// header

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border: 1px solid white;
    @include devices.phone {
        justify-content: center;
    }
}

.header__logo {
    @include typography.poppins-bold;
    border: 1px solid white;
}

.header__nav {
    border: 1px solid white;
    @include devices.phone {
        display: none;
    }
}

.header__nav ul {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__nav li {
    @include typography.poppins-semibold;
    @include palette.text-grey;
}

.header__nav li:hover {
    @include palette.text-white;
}

// intro

.intro {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    border: 1px solid white;
    @include devices.laptop {
        padding: 0 6rem;
    }
}

.intro h1 {
    font-size: 3rem;
}

.intro p {
}

// about

.about__img {
    width: 400px;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.about__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// skills

.skills {
    display: flex;
    border: 1px solid white;
}

// projects

.projects {
    display: flex;
    border: 1px solid white;
}

.project__image {
    height: 200px;
    width: 300px;
}

// contact

.contact {
    display: flex;
    border: 1px solid white;
}

// footer

.footer {
    display: flex;
    border: 1px solid white;
}
